.TopRateCard{
    display:  flex;
    flex-direction: row;
    background-color: var(--backup);
    width: 250px;
    height: 110px;
    margin:10px;
    gap: 4px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.TopRateCard img{
    width: 130px;
    height: 80px;
    border-radius: 5px;
}
.cardText{
  
    display: flex;
    align-items: center;
    color: var(--gryText);
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 120px;  
    justify-content: space-between;
}

.votesText{
    color:gray;
    padding: 10px;
    font-size: 13px;
    text-align: center;
}
.cardTitle{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 120px; 
    height: 3.2em; 
  }