.TopRateCard{
    display:  flex;
    flex-direction: row;
    background-color: white;
    width: 240px
    ;height: 110px;
    margin:10px;
     gap: 4px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.TopRateCard img{
    width: 110px;
    height: 80px;
   
    border-radius: 10px;
}
.cardText{
    width: 130px;
}
.cardTitle{
color: teal;
font-size: 12px;
font-weight: bold;
}