.SideBar{
    float: right;
    width: 450px;
    padding:30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 0;
    background-color: rgb(243, 242, 242);
}

.WidgetTitle{
    font-size: 16px;
    font-weight: bold;
    color: teal;
}
.UserCard{
    gap: 20px;
    display: flex;
    color: teal;
    font-size: 16px;
    align-items: center;
}
.UserCard img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
