.App {
  width: 100vw;
  height: 100vh;
  display: grid;
 grid-template-columns: auto 440px;
    grid-template-areas:
      "header  sidebar"
      "content sidebar"
      "content sidebar"
      "content sidebar"
      "content sidebar"
      "content sidebar"
      "footer  footer"
   }


.nav {
  grid-area: header;
  height: max-content;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color:gainsboro !important;
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
}
.Widget_title{
  margin-top: 200px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: var(--gryText);
  font-size: 17px;
  font-weight: bold;
}
.gridhomepage{
  grid-area: content;
  display: flex;
   align-items: center;
  justify-content: center;
}


.footer{

  grid-area: footer;
}