.popularCard{
height: 250px;
width: 250px;
background-color:var(--secondery);
border-radius: 10px;
padding: 10px;

}
.popularList{
    padding: 20px;
    /* overflow: hidden; */
}

.popularCard .cardTitle{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 320px;
}
.popularCard img{
    width: 240px;
    height: 190px
    ;border-radius: 10px;
}