.popularCard{
height: 250px;
width: 250px;
background-color:var(--secondery);
border-radius: 10px;
padding: 10px;

}
.popularList{
    padding: 20px;
    /* overflow: hidden; */
}
.rateCtrl{
    border: 1px solid rgb(241, 241, 47);
    border-radius: 10px;
    padding: 5px;
    height: 30px;
    width: max-content;
    color: rgb(243, 243, 36);
    display: flex;
    background-color: rgba(255, 255, 255, 0.678);
}
.popularCard .cardTitle{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 320px;
}
.popularCard img{
    width: 240px;
    height: 190px
    ;border-radius: 10px;
}